.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  justify-content: center;
}

  h1 {
    margin: 0;
    font-weight: 300;
    font-size: 5.5em;
    margin: 0.2em 0.5em 0;
  }

.formContainer {
  display: flex;
  padding: 2em;
  align-items: center;
}

  .formContainer div {
    flex-grow: 1;
  }

    .formContainer .formContainer__equal {
      flex-grow: 0;
      padding: 20px;
      font-size: 10em;
    }

    .formContainer__inputs {



    }


    @media screen and (max-width: 767px) {

      h1 {
        font-size: 2.4em;
        text-align: center;
        line-height: 1em;
      }

      .formContainer {
        flex-direction: column;
        padding: 1em;
      }

        .inputNumber {
          margin: 10px 0;
        }

        .inputNumber input[type="number"] {
          font-size: 2em;
        }

        .formContainer .formContainer__equal {
          padding: 5px;
          font-size: 3.5em;
          line-height: 0.4em;
        }
    }