.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

  h1 {
    margin: 0;
    font-weight: 300;
    font-size: 5.5em;
    margin: 0.2em 0.5em 0;
  }

.formContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

  .formContainer div {
    flex-grow: 1;
  }

    .formContainer .formContainer__equal {
      flex-grow: 0;
      padding: 20px;
    }

    .formContainer__inputs {



    }